{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-cta rounded-pill btn-lg my-3" href="#" role="button">
        Get Chrome Extension
      </a>
      {{ .Content }}
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
  {{ if site.Params.doks.backgroundDots -}}
  <div class="d-flex justify-content-start">
    <div class="bg-dots"></div>
  </div>
  {{ end -}}
  {{ if eq $.Site.Language.LanguageName "English" }}
  <section class="section section-md section-features">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-5">
          <h2 class="h4">Work with Overleaf</h2>
          <p>PaperDebugger makes your Overleaf smarter with a Chrome extension.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Never lose your ideas</h2>
          <p>Your data will be stored on Overleaf server and PaperDebugger will never touch it without your permission.</p>
        </div>
        <div class="col-lg-5">
          <h2 class="h4">Deliver faster and better papers</h2>
          <p>PaperDebugger will help you write faster and better papers with AI.</p>
        </div>
      </div>
      <div class="d-flex flex-row justify-content-center mt-4">
        <img src="image/home.png" alt="PaperDebugger" class="img-fluid rounded-3">
      </div>
    </div>
  </section>
  {{ end }}
{{ end }}

{{ define "sidebar-footer" }}
{{ if site.Params.doks.sectionFooter -}}
<section class="section section-md container-fluid bg-light">
  <div class="row justify-content-center text-center">
    <div class="col-lg-7">
      <h2 class="mt-2">Start building with Doks today</h2>
      <a class="btn btn-primary rounded-pill px-4 my-2" href="/docs/{{ if site.Params.doks.docsVersioning }}{{ site.Params.doks.docsVersion }}/{{ end }}prologue/introduction/" role="button">{{ i18n "get-started" }}</a>
    </div>
  </div>
</section>
{{ end -}}
{{ end }}
